#stars {
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 1208px 1279px hotpink, 1707px 1926px lightgreen,
		311px 1511px lightgreen, 764px 696px lightgreen, 1488px 234px lightgreen,
		1023px 1544px lightgreen, 680px 179px lightgreen, 637px 640px lightgreen,
		1538px 1637px lightgreen, 1763px 1861px lightgreen, 597px 854px lightgreen,
		1723px 1375px lightgreen, 118px 73px lightgreen, 810px 280px lightgreen,
		1561px 523px lightgreen, 820px 1679px lightgreen, 1044px 1517px lightgreen,
		958px 1522px lightgreen, 1081px 1826px lightgreen, 1282px 801px lightgreen,
		586px 1113px lightgreen, 1058px 1982px lightgreen, 231px 413px lightgreen,
		1186px 1464px lightgreen, 1391px 60px lightgreen, 425px 626px lightgreen,
		1369px 1383px lightgreen, 1700px 74px lightgreen, 1849px 1159px lightgreen,
		1739px 263px lightgreen, 1712px 1675px lightgreen, 1760px 223px lightgreen,
		941px 1901px lightgreen, 1292px 1219px lightgreen, 751px 163px lightgreen,
		1143px 1700px lightgreen, 45px 364px lightgreen, 298px 50px lightgreen,
		1574px 903px lightgreen, 585px 1162px lightgreen, 772px 72px lightgreen,
		855px 1467px lightgreen, 646px 1847px lightgreen, 1030px 1363px lightgreen,
		1574px 1174px lightgreen, 726px 665px lightgreen, 1302px 59px lightgreen,
		1806px 697px lightgreen, 1450px 549px lightgreen, 1595px 1425px lightgreen,
		637px 1809px lightgreen, 637px 778px lightgreen, 661px 889px lightgreen,
		311px 1952px lightgreen, 155px 753px lightgreen, 1184px 639px lightgreen,
		1276px 826px lightgreen, 1326px 178px lightgreen, 1175px 337px lightgreen,
		1516px 1109px lightgreen, 1016px 1895px lightgreen, 744px 1980px lightgreen,
		375px 374px lightgreen, 359px 1538px lightgreen, 1198px 346px lightgreen,
		1021px 493px lightgreen, 232px 1257px lightgreen, 1762px 1708px lightgreen,
		529px 1608px lightgreen, 610px 926px lightgreen, 672px 1802px lightgreen,
		1025px 680px lightgreen, 1845px 693px lightgreen, 1615px 1030px lightgreen,
		887px 1087px lightgreen, 1577px 1329px lightgreen, 991px 992px lightgreen,
		329px 285px lightgreen, 827px 600px lightgreen, 1513px 1792px lightgreen,
		1687px 1284px lightgreen, 1027px 915px lightgreen, 944px 839px lightgreen,
		256px 1033px lightgreen, 1686px 79px lightgreen, 947px 61px lightgreen,
		92px 1367px lightgreen, 1686px 1919px lightgreen, 794px 1568px lightgreen,
		1962px 1103px lightgreen, 419px 521px lightgreen, 377px 482px lightgreen,
		592px 482px lightgreen, 1191px 1855px lightgreen, 1601px 1774px lightgreen,
		658px 1178px lightgreen, 956px 941px lightgreen, 1486px 1464px lightgreen,
		983px 1966px lightgreen, 639px 1398px lightgreen, 617px 634px lightgreen,
		1780px 74px lightgreen, 1796px 355px lightgreen, 473px 883px lightgreen,
		729px 1803px lightgreen, 590px 538px lightgreen, 1311px 1828px lightgreen,
		147px 877px lightgreen, 49px 172px lightgreen, 1095px 1014px lightgreen,
		630px 1922px lightgreen, 758px 1822px lightgreen, 1338px 1625px lightgreen,
		1672px 955px lightgreen, 675px 393px lightgreen, 1637px 866px lightgreen,
		1601px 1983px lightgreen, 297px 1643px lightgreen, 476px 348px lightgreen,
		1743px 1132px lightgreen, 394px 819px lightgreen, 1614px 132px lightgreen,
		1306px 65px lightgreen, 888px 1618px lightgreen, 744px 936px lightgreen,
		1873px 1113px lightgreen, 1050px 996px lightgreen, 1001px 201px lightgreen,
		1526px 621px lightgreen, 1941px 1905px lightgreen, 1861px 106px lightgreen,
		347px 1945px lightgreen, 1251px 1777px lightgreen, 1672px 1573px lightgreen,
		421px 986px lightgreen, 1851px 643px lightgreen, 1531px 1411px lightgreen,
		1376px 1720px lightgreen, 1311px 1801px lightgreen, 63px 1671px lightgreen,
		1511px 830px lightgreen, 599px 303px lightgreen, 476px 239px lightgreen,
		1943px 1373px lightgreen, 1698px 1850px lightgreen, 1530px 682px lightgreen,
		1001px 588px lightgreen, 1951px 1756px lightgreen, 445px 1081px lightgreen,
		1271px 1939px lightgreen, 1896px 400px lightgreen, 1133px 1490px lightgreen,
		318px 4px lightgreen, 1683px 1348px lightgreen, 301px 1466px lightgreen,
		690px 919px lightgreen, 552px 178px lightgreen, 1706px 279px lightgreen,
		864px 188px lightgreen, 799px 1995px lightgreen, 858px 834px lightgreen,
		549px 764px lightgreen, 1048px 532px lightgreen, 1744px 598px lightgreen,
		1046px 1680px lightgreen, 54px 1972px lightgreen, 67px 1146px lightgreen,
		986px 947px lightgreen, 366px 1575px lightgreen, 76px 1542px lightgreen,
		503px 190px lightgreen, 1489px 1096px lightgreen, 855px 89px lightgreen,
		290px 341px lightgreen, 1290px 224px lightgreen, 1241px 1079px lightgreen,
		152px 1014px lightgreen, 1333px 161px lightgreen, 580px 1804px lightgreen,
		733px 1406px lightgreen, 1006px 660px lightgreen, 873px 868px lightgreen,
		1164px 1066px lightgreen, 708px 1797px lightgreen, 1190px 1719px lightgreen,
		346px 338px lightgreen, 716px 1723px lightgreen, 5px 1266px lightgreen,
		1982px 765px lightgreen, 76px 972px lightgreen, 687px 1230px lightgreen,
		144px 1535px lightgreen, 1060px 280px lightgreen, 1845px 682px lightgreen,
		1141px 513px lightgreen, 851px 1764px lightgreen, 1907px 1914px lightgreen,
		18px 811px lightgreen, 57px 230px lightgreen, 699px 452px lightgreen,
		431px 650px lightgreen, 834px 858px lightgreen, 1345px 67px lightgreen,
		83px 864px lightgreen, 1676px 71px lightgreen, 1164px 935px lightgreen,
		533px 1730px lightgreen, 306px 1830px lightgreen, 1848px 1867px lightgreen,
		1608px 218px lightgreen, 206px 319px lightgreen, 980px 1649px lightgreen,
		32px 1903px lightgreen, 260px 1416px lightgreen, 147px 1307px lightgreen,
		1753px 1015px lightgreen, 676px 1053px lightgreen, 641px 261px lightgreen,
		436px 1978px lightgreen, 1244px 1583px lightgreen, 470px 868px lightgreen,
		850px 213px lightgreen, 851px 1585px lightgreen, 1649px 1534px lightgreen,
		1267px 528px lightgreen, 825px 437px lightgreen, 993px 1340px lightgreen,
		1986px 724px lightgreen, 396px 1587px lightgreen, 1252px 272px lightgreen,
		1353px 1218px lightgreen, 306px 834px lightgreen, 84px 544px lightgreen,
		845px 1046px lightgreen, 1563px 608px lightgreen, 512px 476px lightgreen,
		1411px 1756px lightgreen, 756px 1183px lightgreen, 1404px 704px lightgreen,
		518px 413px lightgreen, 235px 1391px lightgreen, 1694px 666px lightgreen,
		402px 1993px lightgreen, 641px 96px lightgreen, 1125px 402px lightgreen,
		900px 948px lightgreen, 1865px 635px lightgreen, 1083px 364px lightgreen,
		794px 1807px lightgreen, 98px 1410px lightgreen, 1881px 833px lightgreen,
		476px 870px lightgreen, 1826px 1182px lightgreen, 1247px 1533px lightgreen,
		369px 1678px lightgreen, 278px 803px lightgreen, 471px 1679px lightgreen,
		166px 74px lightgreen, 612px 147px lightgreen, 1919px 1667px lightgreen,
		239px 581px lightgreen, 1598px 43px lightgreen, 1226px 1076px lightgreen,
		1653px 1459px lightgreen, 706px 852px lightgreen, 1799px 499px lightgreen,
		1299px 196px lightgreen, 1681px 142px lightgreen, 892px 1738px lightgreen,
		878px 1208px lightgreen, 581px 1105px lightgreen, 1830px 1772px lightgreen,
		1343px 1690px lightgreen, 1740px 1103px lightgreen, 1410px 1071px lightgreen,
		160px 1076px lightgreen, 1820px 755px lightgreen, 119px 189px lightgreen,
		1199px 1054px lightgreen, 1659px 146px lightgreen, 1886px 499px lightgreen,
		1618px 1428px lightgreen, 1488px 1350px lightgreen, 1371px 348px lightgreen,
		1911px 1562px lightgreen, 460px 536px lightgreen, 1746px 1922px lightgreen,
		1785px 510px lightgreen, 1745px 651px lightgreen, 1036px 1258px lightgreen,
		924px 1970px lightgreen, 1195px 571px lightgreen, 1892px 99px lightgreen,
		153px 1084px lightgreen, 725px 81px lightgreen, 54px 1914px lightgreen,
		1378px 714px lightgreen, 981px 1283px lightgreen, 84px 1331px lightgreen,
		1599px 1536px lightgreen, 891px 812px lightgreen, 854px 851px lightgreen,
		975px 1772px lightgreen, 1835px 1009px lightgreen, 682px 1178px lightgreen,
		542px 328px lightgreen, 1843px 685px lightgreen, 359px 885px lightgreen,
		1070px 1389px lightgreen, 983px 880px lightgreen, 1840px 323px lightgreen,
		506px 1578px lightgreen, 1064px 602px lightgreen, 1012px 1048px lightgreen,
		821px 1055px lightgreen, 1012px 491px lightgreen, 642px 1015px lightgreen,
		1458px 1558px lightgreen, 1219px 1660px lightgreen, 940px 499px lightgreen,
		1683px 1751px lightgreen, 171px 315px lightgreen, 983px 1661px lightgreen,
		1167px 381px lightgreen, 1645px 1748px lightgreen, 11px 759px lightgreen,
		1671px 1320px lightgreen, 1077px 1167px lightgreen, 1858px 1526px lightgreen,
		1864px 1790px lightgreen, 1072px 440px lightgreen, 1405px 798px lightgreen,
		1600px 53px lightgreen, 43px 1134px lightgreen, 1175px 1487px lightgreen,
		1293px 1455px lightgreen, 1286px 1136px lightgreen, 687px 1952px lightgreen,
		452px 1790px lightgreen, 995px 890px lightgreen, 857px 1363px lightgreen,
		226px 6px lightgreen, 1356px 79px lightgreen, 1501px 998px lightgreen,
		905px 131px lightgreen, 86px 849px lightgreen, 268px 1495px lightgreen,
		1027px 1933px lightgreen, 1096px 1925px lightgreen, 869px 1749px lightgreen,
		1550px 374px lightgreen, 1960px 1395px lightgreen, 1937px 1173px lightgreen,
		1487px 137px lightgreen, 272px 1246px lightgreen, 493px 1284px lightgreen,
		1503px 30px lightgreen, 480px 354px lightgreen, 1338px 539px lightgreen,
		474px 1083px lightgreen, 321px 157px lightgreen, 645px 820px lightgreen,
		1599px 227px lightgreen, 493px 619px lightgreen, 477px 301px lightgreen,
		194px 152px lightgreen, 1204px 1121px lightgreen, 1469px 321px lightgreen,
		821px 57px lightgreen, 515px 988px lightgreen, 1703px 381px lightgreen,
		1176px 1344px lightgreen, 372px 1812px lightgreen, 474px 366px lightgreen,
		526px 965px lightgreen, 878px 1133px lightgreen, 596px 323px lightgreen,
		1699px 1256px lightgreen, 295px 188px lightgreen, 853px 483px lightgreen,
		142px 1802px lightgreen, 1437px 52px lightgreen, 168px 1562px lightgreen,
		188px 1200px lightgreen, 756px 4px lightgreen, 981px 392px lightgreen,
		685px 1388px lightgreen, 334px 136px lightgreen, 445px 1403px lightgreen,
		1655px 815px lightgreen, 1024px 434px lightgreen, 1602px 1875px lightgreen,
		658px 167px lightgreen, 928px 1254px lightgreen, 1997px 1016px lightgreen,
		1767px 767px lightgreen, 893px 1468px lightgreen, 110px 1441px lightgreen,
		690px 315px lightgreen, 1833px 1510px lightgreen, 1204px 1118px lightgreen,
		1840px 1378px lightgreen, 81px 1506px lightgreen, 1380px 1420px lightgreen,
		1870px 1895px lightgreen, 1131px 883px lightgreen, 235px 1617px lightgreen,
		1707px 1507px lightgreen, 1243px 1156px lightgreen, 1136px 1603px lightgreen,
		215px 1769px lightgreen, 492px 1409px lightgreen, 588px 645px lightgreen,
		897px 1104px lightgreen, 1607px 621px lightgreen, 1359px 309px lightgreen,
		511px 589px lightgreen, 279px 1442px lightgreen, 908px 1916px lightgreen,
		1803px 1824px lightgreen, 205px 598px lightgreen, 214px 805px lightgreen,
		360px 693px lightgreen, 593px 843px lightgreen, 409px 118px lightgreen,
		1737px 333px lightgreen, 392px 371px lightgreen, 191px 54px lightgreen,
		1073px 1843px lightgreen, 1815px 1559px lightgreen, 748px 1923px lightgreen,
		11px 1920px lightgreen, 560px 926px lightgreen, 1229px 126px lightgreen,
		45px 1623px lightgreen, 1625px 1821px lightgreen, 979px 1527px lightgreen,
		280px 1863px lightgreen, 1570px 198px lightgreen, 1343px 279px lightgreen,
		351px 1005px lightgreen, 117px 405px lightgreen, 665px 33px lightgreen,
		1565px 924px lightgreen, 524px 803px lightgreen, 177px 586px lightgreen,
		133px 213px lightgreen, 1094px 1183px lightgreen, 145px 1727px lightgreen,
		1115px 748px lightgreen, 1291px 1612px lightgreen, 1462px 1602px lightgreen,
		517px 1414px lightgreen, 1030px 1512px lightgreen, 1593px 608px lightgreen,
		1792px 903px lightgreen, 316px 1430px lightgreen, 1961px 473px lightgreen,
		1688px 609px lightgreen, 1705px 1757px lightgreen, 1635px 1417px lightgreen,
		95px 588px lightgreen, 149px 826px lightgreen, 1008px 6px lightgreen,
		1057px 257px lightgreen, 31px 849px lightgreen, 23px 1746px lightgreen,
		626px 27px lightgreen, 1922px 212px lightgreen, 595px 1014px lightgreen,
		1761px 1466px lightgreen, 437px 1197px lightgreen, 1423px 1376px lightgreen,
		1171px 907px lightgreen, 429px 1867px lightgreen, 96px 1560px lightgreen,
		1491px 841px lightgreen, 778px 991px lightgreen, 377px 812px lightgreen,
		1864px 630px lightgreen, 1716px 1486px lightgreen, 631px 439px lightgreen,
		374px 555px lightgreen, 1146px 812px lightgreen, 1315px 1087px lightgreen,
		1907px 638px lightgreen, 1512px 1115px lightgreen, 169px 469px lightgreen,
		704px 529px lightgreen, 1262px 136px lightgreen, 1019px 171px lightgreen,
		688px 1181px lightgreen, 542px 635px lightgreen, 1055px 253px lightgreen,
		87px 1815px lightgreen, 1763px 455px lightgreen, 1440px 930px lightgreen,
		1319px 739px lightgreen, 1699px 1249px lightgreen, 849px 1783px lightgreen,
		124px 1537px lightgreen, 122px 1349px lightgreen, 1984px 1084px lightgreen,
		809px 1250px lightgreen, 446px 568px lightgreen, 201px 165px lightgreen,
		1550px 1488px lightgreen, 655px 1977px lightgreen, 636px 1434px lightgreen,
		405px 1515px lightgreen, 336px 1903px lightgreen, 1840px 1474px lightgreen,
		1565px 1103px lightgreen, 1698px 1352px lightgreen, 1789px 1399px lightgreen,
		685px 1731px lightgreen, 573px 105px lightgreen, 1501px 569px lightgreen,
		1807px 1668px lightgreen, 464px 1404px lightgreen, 1519px 1887px lightgreen,
		1151px 1399px lightgreen, 1681px 410px lightgreen, 486px 457px lightgreen,
		78px 817px lightgreen, 105px 975px lightgreen, 120px 1200px lightgreen,
		1558px 253px lightgreen, 1435px 1958px lightgreen, 1786px 1498px lightgreen,
		1195px 1350px lightgreen, 1510px 1310px lightgreen, 649px 1398px lightgreen,
		525px 1364px lightgreen, 1959px 394px lightgreen, 1569px 1465px lightgreen,
		1157px 1625px lightgreen, 276px 1872px lightgreen, 1165px 1128px lightgreen,
		1944px 949px lightgreen, 564px 1462px lightgreen, 1464px 922px lightgreen,
		1652px 761px lightgreen, 988px 1375px lightgreen, 361px 1843px lightgreen,
		800px 387px lightgreen, 566px 1468px lightgreen, 1888px 1550px lightgreen,
		1054px 852px lightgreen, 1046px 784px lightgreen, 1451px 1673px lightgreen,
		156px 102px lightgreen, 1973px 1473px lightgreen, 688px 687px lightgreen,
		335px 933px lightgreen, 120px 677px lightgreen, 40px 1247px lightgreen,
		1549px 374px lightgreen, 386px 1904px lightgreen, 270px 1545px lightgreen,
		457px 1587px lightgreen, 1854px 319px lightgreen, 1329px 1607px lightgreen,
		1453px 98px lightgreen, 1518px 1321px lightgreen, 1421px 779px lightgreen,
		1422px 975px lightgreen, 1202px 107px lightgreen, 633px 659px lightgreen,
		510px 240px lightgreen, 1324px 1535px lightgreen, 1421px 1192px lightgreen,
		658px 636px lightgreen, 675px 1483px lightgreen, 1984px 1101px lightgreen,
		914px 616px lightgreen, 1685px 1859px lightgreen, 1167px 1715px lightgreen,
		1693px 1171px lightgreen, 1412px 1273px lightgreen, 625px 1688px lightgreen,
		672px 496px lightgreen, 142px 764px lightgreen, 453px 512px lightgreen,
		1585px 1516px lightgreen, 1177px 1600px lightgreen, 313px 1390px lightgreen,
		153px 19px lightgreen, 327px 850px lightgreen, 1188px 937px lightgreen,
		880px 1471px lightgreen, 1638px 836px lightgreen, 1616px 565px lightgreen,
		439px 1579px lightgreen, 1186px 412px lightgreen, 1240px 1879px lightgreen,
		661px 665px lightgreen, 209px 1042px lightgreen, 382px 1657px lightgreen,
		1722px 536px lightgreen, 1452px 906px lightgreen, 200px 853px lightgreen,
		1043px 766px lightgreen, 826px 1282px lightgreen, 974px 530px lightgreen,
		79px 1844px lightgreen, 680px 893px lightgreen, 1899px 1987px lightgreen,
		1809px 1345px lightgreen, 1862px 1483px lightgreen, 1393px 1655px lightgreen,
		1466px 1543px lightgreen, 1060px 969px lightgreen, 1904px 179px lightgreen,
		386px 78px lightgreen, 1374px 1959px lightgreen, 1247px 689px lightgreen,
		1365px 411px lightgreen, 1491px 89px lightgreen, 817px 1496px lightgreen,
		829px 21px lightgreen, 499px 1827px lightgreen, 1374px 1067px lightgreen,
		881px 1567px lightgreen, 1061px 327px lightgreen, 1496px 43px lightgreen,
		644px 684px lightgreen, 1819px 318px lightgreen, 1653px 1071px lightgreen,
		1441px 1856px lightgreen, 395px 1801px lightgreen, 266px 1811px lightgreen,
		354px 1119px lightgreen, 504px 1756px lightgreen, 1454px 182px lightgreen,
		1084px 1060px lightgreen, 2000px 913px lightgreen, 1486px 1997px lightgreen,
		190px 730px lightgreen, 1362px 785px lightgreen, 1800px 1472px lightgreen,
		76px 1363px lightgreen, 1816px 300px lightgreen, 75px 1755px lightgreen,
		1306px 374px lightgreen, 1480px 463px lightgreen, 371px 1798px lightgreen,
		1592px 1470px lightgreen, 1832px 345px lightgreen, 754px 1463px lightgreen,
		1112px 334px lightgreen, 565px 1078px lightgreen, 1779px 1241px lightgreen,
		71px 1726px lightgreen, 484px 852px lightgreen, 305px 1964px lightgreen,
		337px 922px lightgreen, 1327px 1474px lightgreen, 948px 1399px lightgreen,
		313px 393px lightgreen, 1186px 1856px lightgreen, 1431px 907px lightgreen,
		570px 1652px lightgreen, 1060px 1470px lightgreen, 579px 569px lightgreen,
		1518px 461px lightgreen, 1503px 224px lightgreen, 1929px 800px lightgreen,
		1787px 1164px lightgreen, 318px 481px lightgreen, 642px 1615px lightgreen,
		1606px 1455px lightgreen, 1568px 766px lightgreen, 1712px 1556px lightgreen,
		566px 376px lightgreen, 505px 422px lightgreen, 187px 1159px lightgreen,
		1660px 715px lightgreen, 733px 852px lightgreen, 1526px 947px lightgreen,
		885px 432px lightgreen, 243px 421px lightgreen, 173px 1803px lightgreen,
		1917px 861px lightgreen, 999px 331px lightgreen, 183px 1758px lightgreen,
		1285px 324px lightgreen, 193px 1290px lightgreen, 222px 596px lightgreen,
		1694px 515px lightgreen, 1620px 348px lightgreen, 806px 1885px lightgreen,
		1191px 1311px lightgreen, 1455px 1394px lightgreen, 1848px 1425px lightgreen,
		938px 1810px lightgreen, 1208px 1966px lightgreen, 1780px 1953px lightgreen,
		149px 856px lightgreen, 1658px 1800px lightgreen;
	animation: animStar 50s linear infinite;
}
#stars:after {
	content: ' ';
	position: absolute;
	top: 2000px;
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 1208px 1279px hotpink, 1707px 1926px lightgreen,
		311px 1511px lightgreen, 764px 696px lightgreen, 1488px 234px lightgreen,
		1023px 1544px lightgreen, 680px 179px lightgreen, 637px 640px lightgreen,
		1538px 1637px lightgreen, 1763px 1861px lightgreen, 597px 854px lightgreen,
		1723px 1375px lightgreen, 118px 73px lightgreen, 810px 280px lightgreen,
		1561px 523px lightgreen, 820px 1679px lightgreen, 1044px 1517px lightgreen,
		958px 1522px lightgreen, 1081px 1826px lightgreen, 1282px 801px lightgreen,
		586px 1113px lightgreen, 1058px 1982px lightgreen, 231px 413px lightgreen,
		1186px 1464px lightgreen, 1391px 60px lightgreen, 425px 626px lightgreen,
		1369px 1383px lightgreen, 1700px 74px lightgreen, 1849px 1159px lightgreen,
		1739px 263px lightgreen, 1712px 1675px lightgreen, 1760px 223px lightgreen,
		941px 1901px lightgreen, 1292px 1219px lightgreen, 751px 163px lightgreen,
		1143px 1700px lightgreen, 45px 364px lightgreen, 298px 50px lightgreen,
		1574px 903px lightgreen, 585px 1162px lightgreen, 772px 72px lightgreen,
		855px 1467px lightgreen, 646px 1847px lightgreen, 1030px 1363px lightgreen,
		1574px 1174px lightgreen, 726px 665px lightgreen, 1302px 59px lightgreen,
		1806px 697px lightgreen, 1450px 549px lightgreen, 1595px 1425px lightgreen,
		637px 1809px lightgreen, 637px 778px lightgreen, 661px 889px lightgreen,
		311px 1952px lightgreen, 155px 753px lightgreen, 1184px 639px lightgreen,
		1276px 826px lightgreen, 1326px 178px lightgreen, 1175px 337px lightgreen,
		1516px 1109px lightgreen, 1016px 1895px lightgreen, 744px 1980px lightgreen,
		375px 374px lightgreen, 359px 1538px lightgreen, 1198px 346px lightgreen,
		1021px 493px lightgreen, 232px 1257px lightgreen, 1762px 1708px lightgreen,
		529px 1608px lightgreen, 610px 926px lightgreen, 672px 1802px lightgreen,
		1025px 680px lightgreen, 1845px 693px lightgreen, 1615px 1030px lightgreen,
		887px 1087px lightgreen, 1577px 1329px lightgreen, 991px 992px lightgreen,
		329px 285px lightgreen, 827px 600px lightgreen, 1513px 1792px lightgreen,
		1687px 1284px lightgreen, 1027px 915px lightgreen, 944px 839px lightgreen,
		256px 1033px lightgreen, 1686px 79px lightgreen, 947px 61px lightgreen,
		92px 1367px lightgreen, 1686px 1919px lightgreen, 794px 1568px lightgreen,
		1962px 1103px lightgreen, 419px 521px lightgreen, 377px 482px lightgreen,
		592px 482px lightgreen, 1191px 1855px lightgreen, 1601px 1774px lightgreen,
		658px 1178px lightgreen, 956px 941px lightgreen, 1486px 1464px lightgreen,
		983px 1966px lightgreen, 639px 1398px lightgreen, 617px 634px lightgreen,
		1780px 74px lightgreen, 1796px 355px lightgreen, 473px 883px lightgreen,
		729px 1803px lightgreen, 590px 538px lightgreen, 1311px 1828px lightgreen,
		147px 877px lightgreen, 49px 172px lightgreen, 1095px 1014px lightgreen,
		630px 1922px lightgreen, 758px 1822px lightgreen, 1338px 1625px lightgreen,
		1672px 955px lightgreen, 675px 393px lightgreen, 1637px 866px lightgreen,
		1601px 1983px lightgreen, 297px 1643px lightgreen, 476px 348px lightgreen,
		1743px 1132px lightgreen, 394px 819px lightgreen, 1614px 132px lightgreen,
		1306px 65px lightgreen, 888px 1618px lightgreen, 744px 936px lightgreen,
		1873px 1113px lightgreen, 1050px 996px lightgreen, 1001px 201px lightgreen,
		1526px 621px lightgreen, 1941px 1905px lightgreen, 1861px 106px lightgreen,
		347px 1945px lightgreen, 1251px 1777px lightgreen, 1672px 1573px lightgreen,
		421px 986px lightgreen, 1851px 643px lightgreen, 1531px 1411px lightgreen,
		1376px 1720px lightgreen, 1311px 1801px lightgreen, 63px 1671px lightgreen,
		1511px 830px lightgreen, 599px 303px lightgreen, 476px 239px lightgreen,
		1943px 1373px lightgreen, 1698px 1850px lightgreen, 1530px 682px lightgreen,
		1001px 588px lightgreen, 1951px 1756px lightgreen, 445px 1081px lightgreen,
		1271px 1939px lightgreen, 1896px 400px lightgreen, 1133px 1490px lightgreen,
		318px 4px lightgreen, 1683px 1348px lightgreen, 301px 1466px lightgreen,
		690px 919px lightgreen, 552px 178px lightgreen, 1706px 279px lightgreen,
		864px 188px lightgreen, 799px 1995px lightgreen, 858px 834px lightgreen,
		549px 764px lightgreen, 1048px 532px lightgreen, 1744px 598px lightgreen,
		1046px 1680px lightgreen, 54px 1972px lightgreen, 67px 1146px lightgreen,
		986px 947px lightgreen, 366px 1575px lightgreen, 76px 1542px lightgreen,
		503px 190px lightgreen, 1489px 1096px lightgreen, 855px 89px lightgreen,
		290px 341px lightgreen, 1290px 224px lightgreen, 1241px 1079px lightgreen,
		152px 1014px lightgreen, 1333px 161px lightgreen, 580px 1804px lightgreen,
		733px 1406px lightgreen, 1006px 660px lightgreen, 873px 868px lightgreen,
		1164px 1066px lightgreen, 708px 1797px lightgreen, 1190px 1719px lightgreen,
		346px 338px lightgreen, 716px 1723px lightgreen, 5px 1266px lightgreen,
		1982px 765px lightgreen, 76px 972px lightgreen, 687px 1230px lightgreen,
		144px 1535px lightgreen, 1060px 280px lightgreen, 1845px 682px lightgreen,
		1141px 513px lightgreen, 851px 1764px lightgreen, 1907px 1914px lightgreen,
		18px 811px lightgreen, 57px 230px lightgreen, 699px 452px lightgreen,
		431px 650px lightgreen, 834px 858px lightgreen, 1345px 67px lightgreen,
		83px 864px lightgreen, 1676px 71px lightgreen, 1164px 935px lightgreen,
		533px 1730px lightgreen, 306px 1830px lightgreen, 1848px 1867px lightgreen,
		1608px 218px lightgreen, 206px 319px lightgreen, 980px 1649px lightgreen,
		32px 1903px lightgreen, 260px 1416px lightgreen, 147px 1307px lightgreen,
		1753px 1015px lightgreen, 676px 1053px lightgreen, 641px 261px lightgreen,
		436px 1978px lightgreen, 1244px 1583px lightgreen, 470px 868px lightgreen,
		850px 213px lightgreen, 851px 1585px lightgreen, 1649px 1534px lightgreen,
		1267px 528px lightgreen, 825px 437px lightgreen, 993px 1340px lightgreen,
		1986px 724px lightgreen, 396px 1587px lightgreen, 1252px 272px lightgreen,
		1353px 1218px lightgreen, 306px 834px lightgreen, 84px 544px lightgreen,
		845px 1046px lightgreen, 1563px 608px lightgreen, 512px 476px lightgreen,
		1411px 1756px lightgreen, 756px 1183px lightgreen, 1404px 704px lightgreen,
		518px 413px lightgreen, 235px 1391px lightgreen, 1694px 666px lightgreen,
		402px 1993px lightgreen, 641px 96px lightgreen, 1125px 402px lightgreen,
		900px 948px lightgreen, 1865px 635px lightgreen, 1083px 364px lightgreen,
		794px 1807px lightgreen, 98px 1410px lightgreen, 1881px 833px lightgreen,
		476px 870px lightgreen, 1826px 1182px lightgreen, 1247px 1533px lightgreen,
		369px 1678px lightgreen, 278px 803px lightgreen, 471px 1679px lightgreen,
		166px 74px lightgreen, 612px 147px lightgreen, 1919px 1667px lightgreen,
		239px 581px lightgreen, 1598px 43px lightgreen, 1226px 1076px lightgreen,
		1653px 1459px lightgreen, 706px 852px lightgreen, 1799px 499px lightgreen,
		1299px 196px lightgreen, 1681px 142px lightgreen, 892px 1738px lightgreen,
		878px 1208px lightgreen, 581px 1105px lightgreen, 1830px 1772px lightgreen,
		1343px 1690px lightgreen, 1740px 1103px lightgreen, 1410px 1071px lightgreen,
		160px 1076px lightgreen, 1820px 755px lightgreen, 119px 189px lightgreen,
		1199px 1054px lightgreen, 1659px 146px lightgreen, 1886px 499px lightgreen,
		1618px 1428px lightgreen, 1488px 1350px lightgreen, 1371px 348px lightgreen,
		1911px 1562px lightgreen, 460px 536px lightgreen, 1746px 1922px lightgreen,
		1785px 510px lightgreen, 1745px 651px lightgreen, 1036px 1258px lightgreen,
		924px 1970px lightgreen, 1195px 571px lightgreen, 1892px 99px lightgreen,
		153px 1084px lightgreen, 725px 81px lightgreen, 54px 1914px lightgreen,
		1378px 714px lightgreen, 981px 1283px lightgreen, 84px 1331px lightgreen,
		1599px 1536px lightgreen, 891px 812px lightgreen, 854px 851px lightgreen,
		975px 1772px lightgreen, 1835px 1009px lightgreen, 682px 1178px lightgreen,
		542px 328px lightgreen, 1843px 685px lightgreen, 359px 885px lightgreen,
		1070px 1389px lightgreen, 983px 880px lightgreen, 1840px 323px lightgreen,
		506px 1578px lightgreen, 1064px 602px lightgreen, 1012px 1048px lightgreen,
		821px 1055px lightgreen, 1012px 491px lightgreen, 642px 1015px lightgreen,
		1458px 1558px lightgreen, 1219px 1660px lightgreen, 940px 499px lightgreen,
		1683px 1751px lightgreen, 171px 315px lightgreen, 983px 1661px lightgreen,
		1167px 381px lightgreen, 1645px 1748px lightgreen, 11px 759px lightgreen,
		1671px 1320px lightgreen, 1077px 1167px lightgreen, 1858px 1526px lightgreen,
		1864px 1790px lightgreen, 1072px 440px lightgreen, 1405px 798px lightgreen,
		1600px 53px lightgreen, 43px 1134px lightgreen, 1175px 1487px lightgreen,
		1293px 1455px lightgreen, 1286px 1136px lightgreen, 687px 1952px lightgreen,
		452px 1790px lightgreen, 995px 890px lightgreen, 857px 1363px lightgreen,
		226px 6px lightgreen, 1356px 79px lightgreen, 1501px 998px lightgreen,
		905px 131px lightgreen, 86px 849px lightgreen, 268px 1495px lightgreen,
		1027px 1933px lightgreen, 1096px 1925px lightgreen, 869px 1749px lightgreen,
		1550px 374px lightgreen, 1960px 1395px lightgreen, 1937px 1173px lightgreen,
		1487px 137px lightgreen, 272px 1246px lightgreen, 493px 1284px lightgreen,
		1503px 30px lightgreen, 480px 354px lightgreen, 1338px 539px lightgreen,
		474px 1083px lightgreen, 321px 157px lightgreen, 645px 820px lightgreen,
		1599px 227px lightgreen, 493px 619px lightgreen, 477px 301px lightgreen,
		194px 152px lightgreen, 1204px 1121px lightgreen, 1469px 321px lightgreen,
		821px 57px lightgreen, 515px 988px lightgreen, 1703px 381px lightgreen,
		1176px 1344px lightgreen, 372px 1812px lightgreen, 474px 366px lightgreen,
		526px 965px lightgreen, 878px 1133px lightgreen, 596px 323px lightgreen,
		1699px 1256px lightgreen, 295px 188px lightgreen, 853px 483px lightgreen,
		142px 1802px lightgreen, 1437px 52px lightgreen, 168px 1562px lightgreen,
		188px 1200px lightgreen, 756px 4px lightgreen, 981px 392px lightgreen,
		685px 1388px lightgreen, 334px 136px lightgreen, 445px 1403px lightgreen,
		1655px 815px lightgreen, 1024px 434px lightgreen, 1602px 1875px lightgreen,
		658px 167px lightgreen, 928px 1254px lightgreen, 1997px 1016px lightgreen,
		1767px 767px lightgreen, 893px 1468px lightgreen, 110px 1441px lightgreen,
		690px 315px lightgreen, 1833px 1510px lightgreen, 1204px 1118px lightgreen,
		1840px 1378px lightgreen, 81px 1506px lightgreen, 1380px 1420px lightgreen,
		1870px 1895px lightgreen, 1131px 883px lightgreen, 235px 1617px lightgreen,
		1707px 1507px lightgreen, 1243px 1156px lightgreen, 1136px 1603px lightgreen,
		215px 1769px lightgreen, 492px 1409px lightgreen, 588px 645px lightgreen,
		897px 1104px lightgreen, 1607px 621px lightgreen, 1359px 309px lightgreen,
		511px 589px lightgreen, 279px 1442px lightgreen, 908px 1916px lightgreen,
		1803px 1824px lightgreen, 205px 598px lightgreen, 214px 805px lightgreen,
		360px 693px lightgreen, 593px 843px lightgreen, 409px 118px lightgreen,
		1737px 333px lightgreen, 392px 371px lightgreen, 191px 54px lightgreen,
		1073px 1843px lightgreen, 1815px 1559px lightgreen, 748px 1923px lightgreen,
		11px 1920px lightgreen, 560px 926px lightgreen, 1229px 126px lightgreen,
		45px 1623px lightgreen, 1625px 1821px lightgreen, 979px 1527px lightgreen,
		280px 1863px lightgreen, 1570px 198px lightgreen, 1343px 279px lightgreen,
		351px 1005px lightgreen, 117px 405px lightgreen, 665px 33px lightgreen,
		1565px 924px lightgreen, 524px 803px lightgreen, 177px 586px lightgreen,
		133px 213px lightgreen, 1094px 1183px lightgreen, 145px 1727px lightgreen,
		1115px 748px lightgreen, 1291px 1612px lightgreen, 1462px 1602px lightgreen,
		517px 1414px lightgreen, 1030px 1512px lightgreen, 1593px 608px lightgreen,
		1792px 903px lightgreen, 316px 1430px lightgreen, 1961px 473px lightgreen,
		1688px 609px lightgreen, 1705px 1757px lightgreen, 1635px 1417px lightgreen,
		95px 588px lightgreen, 149px 826px lightgreen, 1008px 6px lightgreen,
		1057px 257px lightgreen, 31px 849px lightgreen, 23px 1746px lightgreen,
		626px 27px lightgreen, 1922px 212px lightgreen, 595px 1014px lightgreen,
		1761px 1466px lightgreen, 437px 1197px lightgreen, 1423px 1376px lightgreen,
		1171px 907px lightgreen, 429px 1867px lightgreen, 96px 1560px lightgreen,
		1491px 841px lightgreen, 778px 991px lightgreen, 377px 812px lightgreen,
		1864px 630px lightgreen, 1716px 1486px lightgreen, 631px 439px lightgreen,
		374px 555px lightgreen, 1146px 812px lightgreen, 1315px 1087px lightgreen,
		1907px 638px lightgreen, 1512px 1115px lightgreen, 169px 469px lightgreen,
		704px 529px lightgreen, 1262px 136px lightgreen, 1019px 171px lightgreen,
		688px 1181px lightgreen, 542px 635px lightgreen, 1055px 253px lightgreen,
		87px 1815px lightgreen, 1763px 455px lightgreen, 1440px 930px lightgreen,
		1319px 739px lightgreen, 1699px 1249px lightgreen, 849px 1783px lightgreen,
		124px 1537px lightgreen, 122px 1349px lightgreen, 1984px 1084px lightgreen,
		809px 1250px lightgreen, 446px 568px lightgreen, 201px 165px lightgreen,
		1550px 1488px lightgreen, 655px 1977px lightgreen, 636px 1434px lightgreen,
		405px 1515px lightgreen, 336px 1903px lightgreen, 1840px 1474px lightgreen,
		1565px 1103px lightgreen, 1698px 1352px lightgreen, 1789px 1399px lightgreen,
		685px 1731px lightgreen, 573px 105px lightgreen, 1501px 569px lightgreen,
		1807px 1668px lightgreen, 464px 1404px lightgreen, 1519px 1887px lightgreen,
		1151px 1399px lightgreen, 1681px 410px lightgreen, 486px 457px lightgreen,
		78px 817px lightgreen, 105px 975px lightgreen, 120px 1200px lightgreen,
		1558px 253px lightgreen, 1435px 1958px lightgreen, 1786px 1498px lightgreen,
		1195px 1350px lightgreen, 1510px 1310px lightgreen, 649px 1398px lightgreen,
		525px 1364px lightgreen, 1959px 394px lightgreen, 1569px 1465px lightgreen,
		1157px 1625px lightgreen, 276px 1872px lightgreen, 1165px 1128px lightgreen,
		1944px 949px lightgreen, 564px 1462px lightgreen, 1464px 922px lightgreen,
		1652px 761px lightgreen, 988px 1375px lightgreen, 361px 1843px lightgreen,
		800px 387px lightgreen, 566px 1468px lightgreen, 1888px 1550px lightgreen,
		1054px 852px lightgreen, 1046px 784px lightgreen, 1451px 1673px lightgreen,
		156px 102px lightgreen, 1973px 1473px lightgreen, 688px 687px lightgreen,
		335px 933px lightgreen, 120px 677px lightgreen, 40px 1247px lightgreen,
		1549px 374px lightgreen, 386px 1904px lightgreen, 270px 1545px lightgreen,
		457px 1587px lightgreen, 1854px 319px lightgreen, 1329px 1607px lightgreen,
		1453px 98px lightgreen, 1518px 1321px lightgreen, 1421px 779px lightgreen,
		1422px 975px lightgreen, 1202px 107px lightgreen, 633px 659px lightgreen,
		510px 240px lightgreen, 1324px 1535px lightgreen, 1421px 1192px lightgreen,
		658px 636px lightgreen, 675px 1483px lightgreen, 1984px 1101px lightgreen,
		914px 616px lightgreen, 1685px 1859px lightgreen, 1167px 1715px lightgreen,
		1693px 1171px lightgreen, 1412px 1273px lightgreen, 625px 1688px lightgreen,
		672px 496px lightgreen, 142px 764px lightgreen, 453px 512px lightgreen,
		1585px 1516px lightgreen, 1177px 1600px lightgreen, 313px 1390px lightgreen,
		153px 19px lightgreen, 327px 850px lightgreen, 1188px 937px lightgreen,
		880px 1471px lightgreen, 1638px 836px lightgreen, 1616px 565px lightgreen,
		439px 1579px lightgreen, 1186px 412px lightgreen, 1240px 1879px lightgreen,
		661px 665px lightgreen, 209px 1042px lightgreen, 382px 1657px lightgreen,
		1722px 536px lightgreen, 1452px 906px lightgreen, 200px 853px lightgreen,
		1043px 766px lightgreen, 826px 1282px lightgreen, 974px 530px lightgreen,
		79px 1844px lightgreen, 680px 893px lightgreen, 1899px 1987px lightgreen,
		1809px 1345px lightgreen, 1862px 1483px lightgreen, 1393px 1655px lightgreen,
		1466px 1543px lightgreen, 1060px 969px lightgreen, 1904px 179px lightgreen,
		386px 78px lightgreen, 1374px 1959px lightgreen, 1247px 689px lightgreen,
		1365px 411px lightgreen, 1491px 89px lightgreen, 817px 1496px lightgreen,
		829px 21px lightgreen, 499px 1827px lightgreen, 1374px 1067px lightgreen,
		881px 1567px lightgreen, 1061px 327px lightgreen, 1496px 43px lightgreen,
		644px 684px lightgreen, 1819px 318px lightgreen, 1653px 1071px lightgreen,
		1441px 1856px lightgreen, 395px 1801px lightgreen, 266px 1811px lightgreen,
		354px 1119px lightgreen, 504px 1756px lightgreen, 1454px 182px lightgreen,
		1084px 1060px lightgreen, 2000px 913px lightgreen, 1486px 1997px lightgreen,
		190px 730px lightgreen, 1362px 785px lightgreen, 1800px 1472px lightgreen,
		76px 1363px lightgreen, 1816px 300px lightgreen, 75px 1755px lightgreen,
		1306px 374px lightgreen, 1480px 463px lightgreen, 371px 1798px lightgreen,
		1592px 1470px lightgreen, 1832px 345px lightgreen, 754px 1463px lightgreen,
		1112px 334px lightgreen, 565px 1078px lightgreen, 1779px 1241px lightgreen,
		71px 1726px lightgreen, 484px 852px lightgreen, 305px 1964px lightgreen,
		337px 922px lightgreen, 1327px 1474px lightgreen, 948px 1399px lightgreen,
		313px 393px lightgreen, 1186px 1856px lightgreen, 1431px 907px lightgreen,
		570px 1652px lightgreen, 1060px 1470px lightgreen, 579px 569px lightgreen,
		1518px 461px lightgreen, 1503px 224px lightgreen, 1929px 800px lightgreen,
		1787px 1164px lightgreen, 318px 481px lightgreen, 642px 1615px lightgreen,
		1606px 1455px lightgreen, 1568px 766px lightgreen, 1712px 1556px lightgreen,
		566px 376px lightgreen, 505px 422px lightgreen, 187px 1159px lightgreen,
		1660px 715px lightgreen, 733px 852px lightgreen, 1526px 947px lightgreen,
		885px 432px lightgreen, 243px 421px lightgreen, 173px 1803px lightgreen,
		1917px 861px lightgreen, 999px 331px lightgreen, 183px 1758px lightgreen,
		1285px 324px lightgreen, 193px 1290px lightgreen, 222px 596px lightgreen,
		1694px 515px lightgreen, 1620px 348px lightgreen, 806px 1885px lightgreen,
		1191px 1311px lightgreen, 1455px 1394px lightgreen, 1848px 1425px lightgreen,
		938px 1810px lightgreen, 1208px 1966px lightgreen, 1780px 1953px lightgreen,
		149px 856px lightgreen, 1658px 1800px lightgreen;
}

#stars2 {
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 775px 755px hotpink, 116px 534px lightgreen, 989px 60px lightgreen,
		546px 192px lightgreen, 1249px 1125px lightgreen, 1576px 1868px lightgreen,
		900px 1084px lightgreen, 1445px 1880px lightgreen, 1362px 814px lightgreen,
		908px 1549px lightgreen, 1143px 294px lightgreen, 776px 798px lightgreen,
		398px 1479px lightgreen, 1625px 431px lightgreen, 357px 534px lightgreen,
		135px 233px lightgreen, 340px 833px lightgreen, 1329px 816px lightgreen,
		367px 467px lightgreen, 1173px 1587px lightgreen, 969px 1099px lightgreen,
		1480px 1778px lightgreen, 1345px 304px lightgreen, 1964px 314px lightgreen,
		41px 639px lightgreen, 773px 643px lightgreen, 1101px 963px lightgreen,
		960px 36px lightgreen, 971px 657px lightgreen, 118px 606px lightgreen,
		1270px 817px lightgreen, 1023px 1943px lightgreen, 719px 1092px lightgreen,
		1601px 1952px lightgreen, 980px 376px lightgreen, 243px 1703px lightgreen,
		341px 552px lightgreen, 1022px 1605px lightgreen, 782px 1560px lightgreen,
		793px 1979px lightgreen, 1592px 1283px lightgreen, 1044px 1028px lightgreen,
		760px 767px lightgreen, 1850px 1737px lightgreen, 277px 1023px lightgreen,
		511px 529px lightgreen, 605px 387px lightgreen, 445px 439px lightgreen,
		1694px 102px lightgreen, 1210px 301px lightgreen, 703px 130px lightgreen,
		1985px 263px lightgreen, 1255px 1764px lightgreen, 25px 509px lightgreen,
		1135px 967px lightgreen, 156px 1626px lightgreen, 270px 1021px lightgreen,
		652px 1719px lightgreen, 26px 1499px lightgreen, 267px 733px lightgreen,
		1956px 1432px lightgreen, 923px 1806px lightgreen, 1425px 692px lightgreen,
		896px 1507px lightgreen, 1493px 336px lightgreen, 1374px 1675px lightgreen,
		327px 493px lightgreen, 403px 1700px lightgreen, 985px 1229px lightgreen,
		1106px 752px lightgreen, 789px 817px lightgreen, 1944px 294px lightgreen,
		395px 1382px lightgreen, 1522px 896px lightgreen, 1945px 1360px lightgreen,
		1306px 310px lightgreen, 1698px 1486px lightgreen, 368px 617px lightgreen,
		740px 1737px lightgreen, 122px 1400px lightgreen, 581px 1940px lightgreen,
		1295px 1401px lightgreen, 1493px 1107px lightgreen, 1206px 1878px lightgreen,
		1976px 1230px lightgreen, 322px 1514px lightgreen, 1268px 1183px lightgreen,
		341px 992px lightgreen, 891px 173px lightgreen, 190px 895px lightgreen,
		106px 423px lightgreen, 1374px 408px lightgreen, 172px 490px lightgreen,
		1111px 294px lightgreen, 86px 309px lightgreen, 1164px 17px lightgreen,
		59px 316px lightgreen, 1385px 623px lightgreen, 1518px 1799px lightgreen,
		578px 261px lightgreen, 992px 1375px lightgreen, 319px 598px lightgreen,
		1735px 1654px lightgreen, 862px 240px lightgreen, 1358px 1412px lightgreen,
		1202px 1073px lightgreen, 1406px 425px lightgreen, 1447px 932px lightgreen,
		918px 1316px lightgreen, 1337px 697px lightgreen, 377px 690px lightgreen,
		1616px 1224px lightgreen, 1419px 1145px lightgreen, 396px 522px lightgreen,
		1078px 339px lightgreen, 1017px 1720px lightgreen, 1125px 400px lightgreen,
		1429px 1892px lightgreen, 547px 1192px lightgreen, 1135px 1906px lightgreen,
		944px 464px lightgreen, 589px 801px lightgreen, 1188px 1102px lightgreen,
		529px 1758px lightgreen, 1948px 573px lightgreen, 399px 931px lightgreen,
		1850px 1707px lightgreen, 1370px 1396px lightgreen, 900px 881px lightgreen,
		1628px 120px lightgreen, 703px 1640px lightgreen, 1034px 1006px lightgreen,
		380px 152px lightgreen, 1024px 1284px lightgreen, 712px 1773px lightgreen,
		1217px 893px lightgreen, 1294px 259px lightgreen, 1805px 1183px lightgreen,
		184px 433px lightgreen, 1742px 242px lightgreen, 30px 1029px lightgreen,
		1753px 288px lightgreen, 51px 1938px lightgreen, 444px 1419px lightgreen,
		1779px 1656px lightgreen, 1237px 1596px lightgreen, 446px 1663px lightgreen,
		1747px 842px lightgreen, 795px 1097px lightgreen, 1516px 268px lightgreen,
		1287px 1633px lightgreen, 188px 1404px lightgreen, 621px 1199px lightgreen,
		1788px 1283px lightgreen, 58px 932px lightgreen, 1708px 275px lightgreen,
		1347px 1211px lightgreen, 908px 1682px lightgreen, 1229px 1122px lightgreen,
		12px 440px lightgreen, 345px 1484px lightgreen, 1631px 1552px lightgreen,
		610px 654px lightgreen, 1216px 442px lightgreen, 684px 1001px lightgreen,
		1365px 1398px lightgreen, 2px 948px lightgreen, 904px 795px lightgreen,
		1136px 1014px lightgreen, 104px 502px lightgreen, 1214px 172px lightgreen,
		542px 1098px lightgreen, 870px 884px lightgreen, 1764px 729px lightgreen,
		113px 373px lightgreen, 154px 387px lightgreen, 1034px 1880px lightgreen,
		546px 272px lightgreen, 1553px 1870px lightgreen, 222px 694px lightgreen,
		1112px 897px lightgreen, 1538px 623px lightgreen, 962px 225px lightgreen,
		1672px 293px lightgreen, 1735px 560px lightgreen, 779px 801px lightgreen,
		354px 1342px lightgreen, 376px 1913px lightgreen, 129px 1908px lightgreen,
		166px 44px lightgreen, 1962px 1658px lightgreen, 183px 874px lightgreen,
		1102px 576px lightgreen, 1625px 1834px lightgreen, 1866px 1170px lightgreen,
		838px 1px lightgreen, 784px 457px lightgreen, 234px 1981px lightgreen,
		1074px 505px lightgreen, 1511px 1298px lightgreen;
	animation: animStar 100s linear infinite;
}
#stars2:after {
	content: ' ';
	position: absolute;
	top: 2000px;
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 775px 755px hotpink, 116px 534px lightgreen, 989px 60px lightgreen,
		546px 192px lightgreen, 1249px 1125px lightgreen, 1576px 1868px lightgreen,
		900px 1084px lightgreen, 1445px 1880px lightgreen, 1362px 814px lightgreen,
		908px 1549px lightgreen, 1143px 294px lightgreen, 776px 798px lightgreen,
		398px 1479px lightgreen, 1625px 431px lightgreen, 357px 534px lightgreen,
		135px 233px lightgreen, 340px 833px lightgreen, 1329px 816px lightgreen,
		367px 467px lightgreen, 1173px 1587px lightgreen, 969px 1099px lightgreen,
		1480px 1778px lightgreen, 1345px 304px lightgreen, 1964px 314px lightgreen,
		41px 639px lightgreen, 773px 643px lightgreen, 1101px 963px lightgreen,
		960px 36px lightgreen, 971px 657px lightgreen, 118px 606px lightgreen,
		1270px 817px lightgreen, 1023px 1943px lightgreen, 719px 1092px lightgreen,
		1601px 1952px lightgreen, 980px 376px lightgreen, 243px 1703px lightgreen,
		341px 552px lightgreen, 1022px 1605px lightgreen, 782px 1560px lightgreen,
		793px 1979px lightgreen, 1592px 1283px lightgreen, 1044px 1028px lightgreen,
		760px 767px lightgreen, 1850px 1737px lightgreen, 277px 1023px lightgreen,
		511px 529px lightgreen, 605px 387px lightgreen, 445px 439px lightgreen,
		1694px 102px lightgreen, 1210px 301px lightgreen, 703px 130px lightgreen,
		1985px 263px lightgreen, 1255px 1764px lightgreen, 25px 509px lightgreen,
		1135px 967px lightgreen, 156px 1626px lightgreen, 270px 1021px lightgreen,
		652px 1719px lightgreen, 26px 1499px lightgreen, 267px 733px lightgreen,
		1956px 1432px lightgreen, 923px 1806px lightgreen, 1425px 692px lightgreen,
		896px 1507px lightgreen, 1493px 336px lightgreen, 1374px 1675px lightgreen,
		327px 493px lightgreen, 403px 1700px lightgreen, 985px 1229px lightgreen,
		1106px 752px lightgreen, 789px 817px lightgreen, 1944px 294px lightgreen,
		395px 1382px lightgreen, 1522px 896px lightgreen, 1945px 1360px lightgreen,
		1306px 310px lightgreen, 1698px 1486px lightgreen, 368px 617px lightgreen,
		740px 1737px lightgreen, 122px 1400px lightgreen, 581px 1940px lightgreen,
		1295px 1401px lightgreen, 1493px 1107px lightgreen, 1206px 1878px lightgreen,
		1976px 1230px lightgreen, 322px 1514px lightgreen, 1268px 1183px lightgreen,
		341px 992px lightgreen, 891px 173px lightgreen, 190px 895px lightgreen,
		106px 423px lightgreen, 1374px 408px lightgreen, 172px 490px lightgreen,
		1111px 294px lightgreen, 86px 309px lightgreen, 1164px 17px lightgreen,
		59px 316px lightgreen, 1385px 623px lightgreen, 1518px 1799px lightgreen,
		578px 261px lightgreen, 992px 1375px lightgreen, 319px 598px lightgreen,
		1735px 1654px lightgreen, 862px 240px lightgreen, 1358px 1412px lightgreen,
		1202px 1073px lightgreen, 1406px 425px lightgreen, 1447px 932px lightgreen,
		918px 1316px lightgreen, 1337px 697px lightgreen, 377px 690px lightgreen,
		1616px 1224px lightgreen, 1419px 1145px lightgreen, 396px 522px lightgreen,
		1078px 339px lightgreen, 1017px 1720px lightgreen, 1125px 400px lightgreen,
		1429px 1892px lightgreen, 547px 1192px lightgreen, 1135px 1906px lightgreen,
		944px 464px lightgreen, 589px 801px lightgreen, 1188px 1102px lightgreen,
		529px 1758px lightgreen, 1948px 573px lightgreen, 399px 931px lightgreen,
		1850px 1707px lightgreen, 1370px 1396px lightgreen, 900px 881px lightgreen,
		1628px 120px lightgreen, 703px 1640px lightgreen, 1034px 1006px lightgreen,
		380px 152px lightgreen, 1024px 1284px lightgreen, 712px 1773px lightgreen,
		1217px 893px lightgreen, 1294px 259px lightgreen, 1805px 1183px lightgreen,
		184px 433px lightgreen, 1742px 242px lightgreen, 30px 1029px lightgreen,
		1753px 288px lightgreen, 51px 1938px lightgreen, 444px 1419px lightgreen,
		1779px 1656px lightgreen, 1237px 1596px lightgreen, 446px 1663px lightgreen,
		1747px 842px lightgreen, 795px 1097px lightgreen, 1516px 268px lightgreen,
		1287px 1633px lightgreen, 188px 1404px lightgreen, 621px 1199px lightgreen,
		1788px 1283px lightgreen, 58px 932px lightgreen, 1708px 275px lightgreen,
		1347px 1211px lightgreen, 908px 1682px lightgreen, 1229px 1122px lightgreen,
		12px 440px lightgreen, 345px 1484px lightgreen, 1631px 1552px lightgreen,
		610px 654px lightgreen, 1216px 442px lightgreen, 684px 1001px lightgreen,
		1365px 1398px lightgreen, 2px 948px lightgreen, 904px 795px lightgreen,
		1136px 1014px lightgreen, 104px 502px lightgreen, 1214px 172px lightgreen,
		542px 1098px lightgreen, 870px 884px lightgreen, 1764px 729px lightgreen,
		113px 373px lightgreen, 154px 387px lightgreen, 1034px 1880px lightgreen,
		546px 272px lightgreen, 1553px 1870px lightgreen, 222px 694px lightgreen,
		1112px 897px lightgreen, 1538px 623px lightgreen, 962px 225px lightgreen,
		1672px 293px lightgreen, 1735px 560px lightgreen, 779px 801px lightgreen,
		354px 1342px lightgreen, 376px 1913px lightgreen, 129px 1908px lightgreen,
		166px 44px lightgreen, 1962px 1658px lightgreen, 183px 874px lightgreen,
		1102px 576px lightgreen, 1625px 1834px lightgreen, 1866px 1170px lightgreen,
		838px 1px lightgreen, 784px 457px lightgreen, 234px 1981px lightgreen,
		1074px 505px lightgreen, 1511px 1298px lightgreen;
}

#stars3 {
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 486px 525px hotpink, 1794px 754px lightgreen,
		313px 163px lightgreen, 315px 359px lightgreen, 557px 1555px lightgreen,
		653px 368px lightgreen, 399px 1275px lightgreen, 311px 1500px lightgreen,
		775px 568px lightgreen, 945px 263px lightgreen, 1566px 1087px lightgreen,
		641px 436px lightgreen, 720px 1984px lightgreen, 673px 647px lightgreen,
		162px 818px lightgreen, 1045px 1483px lightgreen, 172px 1785px lightgreen,
		227px 556px lightgreen, 1929px 1001px lightgreen, 217px 553px lightgreen,
		74px 641px lightgreen, 1114px 193px lightgreen, 1571px 1773px lightgreen,
		1908px 823px lightgreen, 697px 1668px lightgreen, 1159px 308px lightgreen,
		1458px 1164px lightgreen, 64px 1456px lightgreen, 844px 190px lightgreen,
		1134px 974px lightgreen, 1469px 475px lightgreen, 614px 1517px lightgreen,
		796px 3px lightgreen, 1371px 1232px lightgreen, 1153px 1906px lightgreen,
		1185px 1047px lightgreen, 585px 1538px lightgreen, 1216px 75px lightgreen,
		1164px 1849px lightgreen, 1783px 734px lightgreen, 336px 791px lightgreen,
		1359px 991px lightgreen, 1430px 1640px lightgreen, 1296px 227px lightgreen,
		238px 949px lightgreen, 503px 1202px lightgreen, 1865px 1442px lightgreen,
		1572px 1971px lightgreen, 1422px 1668px lightgreen, 1352px 15px lightgreen,
		1096px 625px lightgreen, 224px 1855px lightgreen, 529px 1323px lightgreen,
		1612px 937px lightgreen, 1230px 550px lightgreen, 1898px 65px lightgreen,
		588px 468px lightgreen, 383px 1625px lightgreen, 1510px 1578px lightgreen,
		297px 1138px lightgreen, 515px 1508px lightgreen, 1140px 802px lightgreen,
		564px 1145px lightgreen, 147px 1927px lightgreen, 1310px 1011px lightgreen,
		1765px 1612px lightgreen, 1590px 1653px lightgreen, 922px 968px lightgreen,
		1445px 507px lightgreen, 360px 1182px lightgreen, 1383px 267px lightgreen,
		1578px 521px lightgreen, 1985px 270px lightgreen, 621px 443px lightgreen,
		1952px 1371px lightgreen, 1851px 998px lightgreen, 283px 1518px lightgreen,
		1420px 1921px lightgreen, 37px 525px lightgreen, 1389px 654px lightgreen,
		379px 764px lightgreen, 395px 211px lightgreen, 89px 1562px lightgreen,
		1519px 54px lightgreen, 1355px 1101px lightgreen, 1838px 936px lightgreen,
		293px 1315px lightgreen, 1391px 689px lightgreen, 324px 772px lightgreen,
		402px 1669px lightgreen, 126px 14px lightgreen, 1686px 1874px lightgreen,
		1309px 1392px lightgreen, 1796px 145px lightgreen, 1913px 1903px lightgreen,
		1825px 120px lightgreen, 1210px 111px lightgreen, 886px 1992px lightgreen,
		1121px 519px lightgreen, 1955px 1006px lightgreen;
	animation: animStar 150s linear infinite;
}
#stars3:after {
	content: ' ';
	position: absolute;
	top: 2000px;
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 486px 525px hotpink, 1794px 754px lightgreen,
		313px 163px lightgreen, 315px 359px lightgreen, 557px 1555px lightgreen,
		653px 368px lightgreen, 399px 1275px lightgreen, 311px 1500px lightgreen,
		775px 568px lightgreen, 945px 263px lightgreen, 1566px 1087px lightgreen,
		641px 436px lightgreen, 720px 1984px lightgreen, 673px 647px lightgreen,
		162px 818px lightgreen, 1045px 1483px lightgreen, 172px 1785px lightgreen,
		227px 556px lightgreen, 1929px 1001px lightgreen, 217px 553px lightgreen,
		74px 641px lightgreen, 1114px 193px lightgreen, 1571px 1773px lightgreen,
		1908px 823px lightgreen, 697px 1668px lightgreen, 1159px 308px lightgreen,
		1458px 1164px lightgreen, 64px 1456px lightgreen, 844px 190px lightgreen,
		1134px 974px lightgreen, 1469px 475px lightgreen, 614px 1517px lightgreen,
		796px 3px lightgreen, 1371px 1232px lightgreen, 1153px 1906px lightgreen,
		1185px 1047px lightgreen, 585px 1538px lightgreen, 1216px 75px lightgreen,
		1164px 1849px lightgreen, 1783px 734px lightgreen, 336px 791px lightgreen,
		1359px 991px lightgreen, 1430px 1640px lightgreen, 1296px 227px lightgreen,
		238px 949px lightgreen, 503px 1202px lightgreen, 1865px 1442px lightgreen,
		1572px 1971px lightgreen, 1422px 1668px lightgreen, 1352px 15px lightgreen,
		1096px 625px lightgreen, 224px 1855px lightgreen, 529px 1323px lightgreen,
		1612px 937px lightgreen, 1230px 550px lightgreen, 1898px 65px lightgreen,
		588px 468px lightgreen, 383px 1625px lightgreen, 1510px 1578px lightgreen,
		297px 1138px lightgreen, 515px 1508px lightgreen, 1140px 802px lightgreen,
		564px 1145px lightgreen, 147px 1927px lightgreen, 1310px 1011px lightgreen,
		1765px 1612px lightgreen, 1590px 1653px lightgreen, 922px 968px lightgreen,
		1445px 507px lightgreen, 360px 1182px lightgreen, 1383px 267px lightgreen,
		1578px 521px lightgreen, 1985px 270px lightgreen, 621px 443px lightgreen,
		1952px 1371px lightgreen, 1851px 998px lightgreen, 283px 1518px lightgreen,
		1420px 1921px lightgreen, 37px 525px lightgreen, 1389px 654px lightgreen,
		379px 764px lightgreen, 395px 211px lightgreen, 89px 1562px lightgreen,
		1519px 54px lightgreen, 1355px 1101px lightgreen, 1838px 936px lightgreen,
		293px 1315px lightgreen, 1391px 689px lightgreen, 324px 772px lightgreen,
		402px 1669px lightgreen, 126px 14px lightgreen, 1686px 1874px lightgreen,
		1309px 1392px lightgreen, 1796px 145px lightgreen, 1913px 1903px lightgreen,
		1825px 120px lightgreen, 1210px 111px lightgreen, 886px 1992px lightgreen,
		1121px 519px lightgreen, 1955px 1006px lightgreen;
}

@keyframes animStar {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-2000px);
	}
}
